html,
body { height: 100% }

body {
  margin: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#physics-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#wordcloud {
  width: 95vw;
  height: 80vh;
  position: relative;
  z-index: 1;
}
